<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="assets/icons8-marker-40-red.png" alt=""> Where about ... in Barcelona
      </a>
      <span class="text-white-50"><i class="fas fa-envelope"></i> stephane.solida@gmail.com</span>
    </div>
  </div>
</header>
