<div class="row py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <agm-map [latitude]="lat" [longitude]="long" [zoom]="13" [disableDoubleClickZoom]="true" (mapDblClick)="onChooseLocation($event)">
          <agm-marker class="animted flash" *ngFor="let m of markers;" [latitude]="m.lat" [longitude]="m.long" [iconUrl]="m.iconUrl" [markerDraggable]="m.markerDraggable" (dragEnd)="newDraggPosition($event)">
            <agm-info-window>
              <div class="info-marker">
                <div class="card-body">
                  <h2>{{m.title}}</h2>
                  <p class="card-text">{{m.content}}</p>
                </div>
              </div>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
      <div class="col-md-6 list-markers" *ngIf="!isCreationMode && !isEditMode">
          <ngx-masonry [useImagesLoaded]="true">
            <ngxMasonryItem class="masonry-item col-md-6" *ngFor="let m of markers;">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" [src]="m.image_url" >
                <div class="card-body">
                  <h5>{{m.title}}</h5>
                  <p class="card-text"><small>{{m.content}}</small></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="editMarker(m)">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </ngxMasonryItem>
          </ngx-masonry>
      </div>
      <div class="col-md-6 animated flipInY" *ngIf="isCreationMode || isEditMode">
        <div class="card">
          <h2 class="card-header" *ngIf="isCreationMode"><img src="assets/icons8-marker-40-red.png" alt=""> Create a new location</h2>
          <h2 class="card-header" *ngIf="isEditMode"><img src="assets/icons8-marker-40-red.png" alt="">Edit : {{newMarker.title}}</h2>
          <div class="card-body">
            <p>Please fill the form and click the button to save it. If you're not happy with the precision of the marker, you can still drag and drop it to a more accurate position.</p>
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Title</label>
                <div class="col-sm-8">
                  <input class="form-control" placeholder="" name="title" [(ngModel)]="newMarker.title" #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted && title.invalid }" required>
                  <div *ngIf="f.submitted && title.invalid" class="invalid-feedback">
                    <div *ngIf="title.errors">the title is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Content</label>
                <div class="col-sm-8">
                  <textarea class="form-control" rows="3" name="content" [(ngModel)]="newMarker.content" #content="ngModel" [ngClass]="{ 'is-invalid': f.submitted && content.invalid }" required></textarea>
                  <div *ngIf="f.submitted && content.invalid" class="invalid-feedback">
                    <div *ngIf="content.errors">the content is required</div>
                  </div>
                </div>
              </div>
              <fieldset disabled>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Lat</label>
                  <div class="col-sm-8">
                    <input class="form-control" name="lat" placeholder="" [(ngModel)]="newMarker.lat">
                  </div>
                </div>
              </fieldset>
              <fieldset disabled>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Long</label>
                  <div class="col-sm-8">
                    <input class="form-control" name="long" placeholder="" [(ngModel)]="newMarker.long">
                  </div>
                </div>
              </fieldset>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Image URL</label>
                <div class="col-sm-8">
                  <input class="form-control" name="image_url" [(ngModel)]="newMarker.image_url" placeholder="please specify the image URL. http://...">
                </div>
              </div>
              <button type="submit" href="#" *ngIf="isCreationMode" class="btn btn-success" (click)="saveNewPosition()"><i class="fas fa-save"></i> Save the new position !</button>
              <button type="submit" href="#" *ngIf="isEditMode" class="btn btn-success" (click)="updatePosition()"><i class="fas fa-save"></i> Update the position !</button>
              <a href="#" class="btn btn-outline-danger float-right" (click)="returnListMode()"><i class="fas fa-times"></i> Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
